<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>

<body>
    <h1>
        You're looking the details about <%= poke.name.english %>
    </h1>
    <hr>
    <h3>Names of the <%= poke.name.english %> in the following languages:</h3>
    <% for (let pokemons in poke.name){ %>
        <%= pokemons %>
            <%= poke.name[pokemons] %><br>
                <% } %>
                    <h3>Type of the <%= poke.name.english %> :</h3>
                    <% for (index=0; index < poke.type.length; index++){ %>
                        <%= poke.type[index]; %> <br>
                            <% } %>
                                <h3>Base qualities of <%= poke.name.english %>:</h3>
                                <% for (let pokemons in poke.base){ %>
                                    <%= pokemons %>
                                        <%= poke.base[pokemons] %><br>
                                            <% } %>
</body>

</html>